* {
	padding: 0px;
	margin: 0px;
}

#Level5_Stealth_Explore_Dead {
	visibility: hidden;
	top: 0px;
	position: absolute;
}

#Best_End {
	visibility: hidden;
	top: 0px;
	position: absolute;
}

#GameOver3 {
	visibility: hidden;
	top: 0px;
	position: absolute;
}

#Level4_Stealth_QuickKill_Search {
	top: 0px;
	visibility: hidden;
	position: absolute;
}

#GameOverHome {
	top: 0px;
	position: absolute;
	visibility: hidden;
}

body {
	background-color: silver;
	font-family: sans-serif;
}

#Level4_Stealth_QuickKill {
	top: 0px;
	position: absolute;
	visibility: hidden;
}
#Level0_stealth{
	visibility: hidden;
	top: 0px;
}

#Level1_stealth{
	visibility: hidden;
	top: 0px;
	position: absolute;
}

#Level2_stealth{
	visibility: hidden;
	top: 0px;
	position: absolute;
}

#level_title {

	font-size: 18px;
	color: black;		
	font-weight: bold;
}

#mainscreen nav{
top: 5vh;
position: absolute;
}

#mainscreen img{
	position: absolute;
	top: 10vh;
}

#GameOver {
	visibility: hidden;
	position: absolute;
	top: 0px;
}

#GameOver2 {
	visibility: hidden;
	position: absolute;
	top: 0px;
}

#Level3_stealth	{
	visibility: hidden;
	top: 0px;
	position: absolute;
}

#Level4_Stealth_Explore {
	visibility: hidden;
	top: 0px;
}

#Level5_Stealth_Explore {
	visibility: hidden;
	top: 0px;
}